.product {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: baseline;
  place-content: center;
  background-color: red;
}

.product .info {
  background-color: aqua;
}
